gunicorn==20.0.4
flask==1.1.1
flask-cors==3.0.8
python-telegram-bot==12.5.1
redis==3.4.1
numpy==1.19.5
opencv-python==4.5.3.56
opencv-contrib-python==4.5.3.56
pyaml==20.4.0
requests==2.23.0
requests-toolbelt==0.9.1
minio==5.0.8
viberbot==1.0.11
